{% extends 'baseInscription.html.twig' %}

{% block title %}HabiLux{% endblock %}

{% block body %}


            <div class="container">
            
           
                <div class="row">
                    <div class="col-xl-5 col-lg-6 mx-auto">
                        <div class="bg-white xs-p-20 p-30 border rounded">
                            <div class="form-icon-left rounded form-boder">
                                <h1>Réinitialiser votre mot de passe</h1>

                                <p>
                                Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient de vous être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.  
                                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                                </p>
                                <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}