{% extends 'baseBack.html.twig' %}

{% block title %}HabiLux-Edit proprietes{% endblock %}

{% block body %}
    <h1>Edit Propriete</h1>

    {{ include('back/propriete/_form.html.twig', {'button_label': 'Update'}) }}



    {{ include('back/propriete/_delete_form.html.twig') }}
{% endblock %}
