{% extends 'baseBack.html.twig' %}

{% block title %}HabiLux-Ajouter proprietes{% endblock %}

{% block body %}
    <h1>Create new Propriete</h1>

    {{ include('back/propriete/_form.html.twig') }}

  
{% endblock %}
