{% extends 'baseBack.html.twig' %}

{% block title %}HabiLux-Profil{% endblock %}

{% block body %}
 <div class="full-row px-40 py-30 xs-p-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <h3 class="my-3">Password</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="border rounded bg-white p-30 mb-30">
                                        <div class="row">
                                            <div class="col-xl-2">
                                                <h4 class="mb-4 font-400">Change Password</h4>
                                            </div>
                                            <div class="col-xl-10">
                                                <form action="#" class="form-boder" method="POST">
                                                    <div class="row">
                                                        <div class="col-lg-6 mb-20">
                                                            <label class="mb-2 font-fifteen">Old Password</label>
                                                            <input class="form-control" name="title" type="password">
                                                        </div>
                                                        <div class="col-lg-6 mb-20">
                                                            <label class="mb-2 font-fifteen">New Password</label>
                                                            <input class="form-control" name="title" type="password">
                                                        </div>
                                                        <div class="col-lg-6 mb-20">
                                                            <label class="mb-2 font-fifteen">Confirm New Password</label>
                                                            <input class="form-control" name="title" type="password">
                                                        </div>
                                                        <div class="col-lg-12 mb-20">
                                                            <button type="submit" name="name" class="btn btn-primary">Update</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <p><span class="font-500">NOTE :</span> Morbi nibh dis. Pede. Erat, porta urna. Adipiscing Ipsum nibh morbi taciti proin quisque sit quam curae; vulputate ridiculus. Dictumst ullamcorper nullam Parturient,
                                                    urna. Etiam nascetur enim lectus torquent pellentesque.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
